<section class="inscribete-calendario hero-text" id="calendar">
  <div class="content">
    <h2 class="section__title">
      No te pierdas nuestros próximos cursos de programación front-end
    </h2>

    <p>Si quieres convertirte en programadora front-end, puedes inscribirte en el proceso de selección para cualquiera de <strong>nuestros cursos futuros</strong>. Además, al terminar el proceso tendrás la posibilidad de reservar tu plaza y financiar tu curso</p>

    <!-- Change these -->
    <div class="date date1"><span>Diciembre 2020</span></div>
    <div class="date date2" style="display:none;"><span>Marzo 2021</span>
    <div class="date date3" style="display:none;"><span>Julio 2021</span>
    </div>
<!--
    <div class="support">
      powered by
      <img src="/assets/images/home/logos/aliados/ecare.png" alt="Fundación eCare" witdh="40" />
    </div> -->
    <div class="slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <!-- CALENDARIO 1 -->
          <div class="swiper-slide slide-1">
            <p class="h4 course-module-title">Proceso de selección <span>inicio/fin</span></p>
            <div class="row">
              <div class="inscribete-calendario-fecha">14 de septiembre
                <br />2020</div>
              <div class="inscribete-calendario-fecha">30 de noviembre
                <br />2020</div>
            </div>
          </div>
          <div class="swiper-slide slide-1">
            <p class="h4 course-module-title">Curso intensivo <span>inicio/fin</span></p>
            <div class="row">
              <div class="row">
                <div class="inscribete-calendario-fecha aqua">11 de diciembre
                  <br />2020</div>
                <div class="inscribete-calendario-fecha aqua">18 de marzo
                  <br />2021</div>
              </div>
            </div>
          </div><!-- CALENDARIO 2 -->
          <div class="swiper-slide slide-2">
            <p class="h4 course-module-title">Proceso de selección <span>inicio/fin</span></p>
            <div class="row">
              <div class="row">
                <div class="inscribete-calendario-fecha">1 de diciembre
                  <br />2020</div>
                <div class="inscribete-calendario-fecha">16 de marzo
                  <br />2021</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-2">
            <p class="h4 course-module-title">Curso intensivo <span>inicio/fin</span></p>
            <div class="row">
              <div class="row">
                <div class="inscribete-calendario-fecha aqua">31 de marzo
                  <br />2021</div>
                <div class="inscribete-calendario-fecha aqua">24 de junio
                  <br />2021</div>
              </div>
            </div>
          </div><!-- CALENDARIO 3 -->
          <div class="swiper-slide slide-3">
            <p class="h4 course-module-title">Proceso de selección <span>inicio/fin</span></p>
            <div class="row">
              <div class="row">
                <div class="inscribete-calendario-fecha">1 de diciembre
                  <br />2020</div>
                <div class="inscribete-calendario-fecha">16 de marzo
                  <br />2021</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-3">
            <p class="h4 course-module-title">Curso intensivo <span>inicio/fin</span></p>
            <div class="row">
              <div class="row">
                <div class="inscribete-calendario-fecha aqua">31 de marzo
                  <br />2021</div>
                <div class="inscribete-calendario-fecha aqua">24 de junio
                  <br />2021</div>
              </div>
            </div>
          </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-arrow swiper-button-next"></div>
      <div class="swiper-arrow swiper-button-prev"></div>
      <div class="content">
        <a href="/contacto-inscribete/" class="btn btn-lg">INSCRÍBETE</a>
      </div>
    </div>
  </div>
</section>
