<section class="inscribete-calendario hero-text">
  <div class="content">
    <h2 class="section__title">
      Calendario próximos cursos programación front-end
    </h2>
    <div class="date date1"><span>Enero 2020</span></div>
    <div class="date date2" style="display:none;">
      <span>Marzo 2020</span>
    </div>

    <div class="support">
      powered by
      <img src="/assets/images/home/logos/aliados/ecare.png" alt="Fundación eCare" witdh="40" />
    </div>
    <div class="slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <!-- CALENDARIO 1 -->
          <div class="swiper-slide slide-1">
            <h4>Proceso de selección <span>inicio/fin</span></h4>
            <div class="row">
              <div class="inscribete-calendario-fecha">
                2 de diciembre<br />
                2019
              </div>
              <div class="inscribete-calendario-fecha">
                17 de enero<br />
                2020
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-1">
            <h4>Curso intensivo <span>inicio/fin</span></h4>
            <div class="row">
              <div class="inscribete-calendario-fecha aqua">
                30 de enero<br />
                2020
              </div>
              <div class="inscribete-calendario-fecha aqua">
                27 de abril<br />
                2020
              </div>
            </div>
          </div>


          <!-- CALENDARIO 2 -->
          <div class="swiper-slide slide-2">
            <h4>Proceso de selección <span>inicio/fin</span></h4>
            <div class="row">
              <div class="inscribete-calendario-fecha">
                25 de marzo<br />
                2020
              </div>
              <div class="inscribete-calendario-fecha">
                28 de abril<br />
                2020
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-2">
            <h4>Curso intensivo <span>inicio/fin</span></h4>
            <div class="row">
              <div class="inscribete-calendario-fecha aqua">
                11 de mayo<br />
                2020
              </div>
              <div class="inscribete-calendario-fecha aqua">
                4 de agosto<br />
                2020
              </div>
            </div>
          </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-arrow swiper-button-next"></div>
      <div class="swiper-arrow swiper-button-prev"></div>
      <div class="content">
        <a href="/contacto-inscribete/" class="btn btn-lg">INSCRÍBETE</a>
      </div>
    </div>
  </div>
</section>
