<div class="ada-hero-section ada-inverted nominheight">
  <div id="precio-cursos" class="ada-container vertical w-container">
    <div class="ada-section-title div-block-2">
      <h2>Grandes empresas con adalabers en su equipo</h2>
      <div class="ada-separator">
        <div class="w-embed">
          <style>
.ada-inverted .ada-separator { background-color: #A9A9AA; }
</style>
        </div>
      </div>
    </div>
    <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="ada-carrusel w-slider">
      <div class="w-slider-mask">
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/Accenture-Digitalv2.png" alt="Accenture Digital" class="brighten-up ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/IT_Espana_RGB_Blanco.png" alt="BBVA IT" srcset="/assets/adalab.webflow/images/IT_Espana_RGB_Blanco-p-500.png 500w, /assets/adalab.webflow/images/IT_Espana_RGB_Blanco-p-800.png 800w, /assets/adalab.webflow/images/IT_Espana_RGB_Blanco-p-1080.png 1080w, /assets/adalab.webflow/images/IT_Espana_RGB_Blanco-p-1600.png 1600w, /assets/adalab.webflow/images/IT_Espana_RGB_Blanco.png 2410w" sizes="(max-width: 479px) 30vw, (max-width: 767px) 21vw, (max-width: 991px) 22vw, 15vw" class="brighten-up ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/image.svg" alt="Cognizant" class="ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/Recurso-1XYZ.svg" alt="Kairos" class="ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/NFQ.png" alt="NFQ" srcset="/assets/adalab.webflow/images/NFQ-p-500.png 500w, /assets/adalab.webflow/images/NFQ.png 923w" sizes="(max-width: 479px) 30vw, (max-width: 767px) 19vw, 142.265625px" class="brighten-up ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/Spotahome-Combination-Mark-Green--Transparent-Background-01.png" alt="Spotahome" class="brighten-up ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/Recurso-1XYZ-1.svg" alt="VASS" class="ada-carrusel-logo-image"></div>
        </div>
        <div class="ada-carrusel-logo w-slide">
          <div class="ada-carrusel-logo-container"><img src="/assets/adalab.webflow/images/zooplus.png" alt="Zooplus" class="brighten-up ada-carrusel-logo-image"></div>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="left-icon w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="right-icon w-icon-slider-right"></div>
      </div>
      <div class="hidden w-slider-nav"></div>
    </div>
  </div>
</div>
