

        <section class="hero-text faq grey" itemscope itemtype="https://schema.org/FAQPage">
          <div class="content-md">
            <h3 class="section__title">
              Otras cosas que seguro quieres conocer
            </h3>
          </div>
          <dl class="desplegable">

            <!-- ¿Por qué Adalab es solo para mujeres? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Por qué Adalab es solo para mujeres?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>Nuestro programa es solo para mujeres porque queremos que aumente el porcentaje de programadoras, que actualmente no supera el 13%<sup>[1]</sup>. <strong>El sector digital necesita más talento femenino</strong> que traiga diversidad, crecimiento, innovación y aporte una sensibilidad y perspectiva especiales. El sector digital te necesita.
                  <p>
                    <small><sup>[1]</sup> Encuesta de Población Activa en España</small>
                  </p>
                </div>
              </dd>
            </div>

            <!-- ¿Por qué aprender a programar? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Por qué aprender a programar?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">

                  <p><strong>El mundo está cambiando</strong> y hay más puestos de trabajo relacionados con la programación que profesionales para cubrirlos.</p>

                  <p>Aprender ahora programación permitirá que te adelantes a los demás y te conviertas en uno de los <strong>perfiles más demandados por las empresas</strong>. Además, debido a la escasez de programadores, las condiciones suelen ser buenas, con salarios competitivos y en algunos casos flexibilidad horaria.</p>

                  <p>
                    El <strong>trabajo en remoto</strong> en el sector se está extendiendo. Por ello, es parte de nuestra metodología de enseñanza.
                  </p>
                </div>
              </dd>
            </div>

            <!-- ¿Qué es la programación front-end? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Qué es la programación front-end?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>
                    La programación front-end es la frontera <strong>entre el proceso creativo de las páginas web y su transformación en un producto digital</strong>. Los profesionales del front-end deben manejar habilidades de maquetación y de programación.
                  </p>

                  <p>
                    No existe una carrera universitaria ni módulos profesionales específicos de front-end, por lo que es <strong>difícil encontrar a estos profesionales tan demandados</strong> en el mercado.
                  </p>

                  <p>
                    En Adalab te convertirás en programadora front-end y podrás hacer páginas y aplicaciones web, aprendiendo los últimos lenguajes y herramientas de programación. En pocos meses, estarás preparada para decirle a los ordenadores lo que quieres que hagan por ti, porque dominarás su lenguaje, <strong>el lenguaje del futuro</strong>.
                  </p>
                </div>
              </dd>
            </div>

            <!-- ¿Realmente no se necesitan conocimientos previos de programación? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Realmente no se necesitan conocimientos previos de programación?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>
                    No. <strong>Más del 70% de nuestras adalabers no tenía ningún conocimiento de programación antes de entrar en Adalab</strong> y las restantes solamente tenían algunas nociones básicas, normalmente aprendidas de forma autodidacta.
                  </p>

                  <p>
                    Nuestras alumnas tienen estudios o profesiones tan dispares como comunicación audiovisual, química, biología, magisterio, psicología, periodismo, arquitectura y, así, hasta todas las formaciones que se te puedan ocurrir.
                    Como casi todo en la vida, <strong>para aprender programación solamente necesitas motivación, compromiso y esfuerzo</strong>.
                  </p>
                </div>
              </dd>
            </div>

            <!-- ¿Cómo son las clases online? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Cómo son las clases online?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>
                    Muchas empresas están cambiando su forma de trabajar y <strong>el uso del teletrabajo</strong> se está extendiendo de forma acelerada en el sector tecnológico.
                  </p>

                  <p>
                    Trabajar en remoto permite un uso eficiente de los recursos y posibilidades de conciliación y por eso <strong>cada vez son más las empresas que tienen en cuenta esta habilidad a la hora de incorporar personas a sus equipos</strong>. En Adalab, incluímos metodologías de aprendizaje tanto en remoto como presencial adaptadas al nuevo mercado laboral.
                  </p>

                  <p>Concretamente, <strong>con los cursos online se mantiene la misma metodología colaborativa y calidad de siempre pero con herramientas virtuales</strong>, y lo podrás realizar desde dónde quieras:</p>

                  <ul>
                    <li>
                      <strong>Horarios</strong>: Lunes a viernes de 8.30h a 14.00h y de 16.00h a 17.30h + 3 horas de media de trabajo autónomo
                    </li>

                    <li>
                      <strong>Clases en directo</strong> del profesorado con interacción por parte de las alumnas.
                    </li>

                    <li>
                      Apoyo por parte de nuestros profesores/as durante 7 horas al día ( 5 horas y media de <strong>programación</strong> y 1 hora y media más los días que se imparte desarrollo profesional) y <strong>chat con las demás alumnas</strong> el resto del tiempo
                    </li>

                    <li>
                      <strong>Trabajo en parejas y en equipo</strong> con ejercicios prácticos y proyectos a las que los profesores pueden unirse y proveer asistencia.
                    </li>

                    <li>
                      <strong>Instrucciones y herramientas virtuales utilizadas en el sector  para trabajar de forma eficiente en remoto</strong>
                    </li>
                  </ul>

                  <p>Consulta la sección <a href="/curso-desarrollo-web/#un-dia-en-adalab">“Un día de formación en Adalab”</a>, escoge el formato online e infórmate de cómo será tu día a día.</p>
                </div>
              </dd>
            </div>

            <!-- ¿Cómo, dónde y en qué horario son las clases semipresenciales? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Cómo, dónde y en qué horario son las clases semipresenciales?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>Desde Adalab hemos querido adaptarnos a la <strong>situación actual</strong> y a un futuro cada vez más digital pasando de un formato 100% presencial, a un <strong>formato semipresencial</strong>. De esta manera, podrás beneficiarte de las ventajas de la formación presencial así como <strong>aprender a trabajar en remoto de forma eficiente</strong>. Recuerda que <strong>el uso del teletrabajo</strong> se está extendiendo de forma acelerada en el sector tecnológico, y por eso <strong>cada vez son más las empresas que tienen en cuenta esta habilidad a la hora de incorporar programadores a sus equipos</strong>.</p>

                  <p>Con nuestros <a href="/cursos-programacion-madrid/">cursos de programación en Madrid</a>, en la modalidad semipresencial <strong>la mitad del curso es presencial, y la otra mitad se realiza online</strong>. Tendrás la posibilidad de elegir si prefieres empezar en uno u otro formato.  </p>

                  <p><strong>Ambas modalidades mantienen la misma metodología colaborativa</strong> y calidad de siempre pero durante el tiempo online se imparte a través de herramientas virtuales, y lo podrás realizar desde dónde quieras: </p>

                  <ul>

                    <li>
                      <strong>Horarios</strong>: Lunes a viernes de 8.30h a 14.00h (programación) y de 16.00h a 17.30h (24 sesiones de desarrollo profesional siempre en formato online en directo) + 3 horas de media de trabajo autónomo.
                    </li>

                    <li>
                      Las <strong>clases presenciales</strong> se imparten en Talent Garden, en Calle de Juan de Mariana 15, 28045, Madrid.
                    </li>

                    <li>
                      <strong>Clases en directo</strong> del profesorado con interacción por parte de las alumnas.
                    </li>

                    <li>
                      Apoyo por parte de nuestros profesores/as durante 7 horas al día (5 horas y media de <strong>programación</strong> y 1 hora y media más los días que se imparte desarrollo profesional) y <strong>chat con las demás alumnas</strong> el resto del tiempo.
                    </li>

                    <li>
                      <strong>Trabajo en parejas y en equipo</strong> con ejercicios prácticos y proyectos a las que los profesores pueden unirse y proveer asistencia.
                    </li>

                    <li>
                      <strong>Instrucciones y herramientas virtuales utilizadas en el sector  para trabajar de forma eficiente en remoto.</strong>
                    </li>
                  </ul>

                  <p>Consulta la sección <a href="/curso-desarrollo-web/#un-dia-en-adalab">“Un día de formación en Adalab”</a>, escoge el formato online e infórmate de cómo será tu día a día.</p>
                </div>
              </dd>
            </div>

            <!-- ¿Cuál es el temario técnico del curso? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Cuál es el temario técnico del curso?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>Puedes encontrar nuestro temario en el siguiente enlace: <a href="books.adalab.es" target="_blank" rel="noopener noreferrer">books.adalab.es</a></p>
                </div>
              </dd>
            </div>

            <!-- ¿Cómo es el proceso de selección para entrar en Adalab? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Cómo es el proceso de selección para entrar en Adalab?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>Una vez que te inscribas en el programa, <strong>te llegará un email para que puedas empezar el proceso de selección</strong> para el siguiente curso en nuestra plataforma virtual Candy. En la plataforma se explica todo lo que necesitas saber para completarlo. Para que te hagas una idea, nuestro proceso de selección consta de 5 tipos de pruebas,  que podrás realizar en momentos diferentes de forma online. Tardarás en completarlas unas 4 horas. Las pruebas consisten en:</p>

                  <ol>
                    <li>Tutoriales de iniciación a HTML y test de comprensión (1 hora aprox.)</li>
                    <li>Tutoriales de iniciación a JavaScript y test de comprensión (1 hora aprox.)</li>
                    <li>Nivel de inglés (15 minutos)</li>
                    <li>Tests psicométricos (4 en total) de razonamiento, verbal, numérico, y atención (1 hora aprox.)</li>
                    <li>Entrevista personal (30 minutos aprox.)</li>
                  </ol>

                  <p><strong>Consulta las fechas de inicio y fin</strong> del proceso de selección de los siguientes cursos en las sección <a href="/curso-desarrollo-web/#calendar">“No te pierdas nuestros próximos cursos de programación front-end”</a></p>

                  <p><a href="https://adalab.es/curso-desarrollo-web/#">Leer más sobre el proceso de selección</a></p>

                </div>
              </dd>
            </div>

            <!-- ¿Cuántas veces me puedo presentar al proceso de selección de Adalab? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Cuántas veces me puedo presentar al proceso de selección de Adalab?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>
                    Puedes realizar las <strong>pruebas de HTML y JavaScript</strong> en tantas convocatorias como quieras. Para las <strong>pruebas psicométricas e inglés</strong> tendrás dos oportunidades como máximo para superarlas.
                  </p>

                  <p>Realizar estas pruebas conlleva tiempo de dedicación de nuestro equipo y debido a las numerosas solicitudes que recibimos necesitamos establecer estos límites para poder ofrecer las mismas oportunidades a todas las candidatas.</p>
                </div>
              </dd>
            </div>

            <!-- ¿Por qué no puedo trabajar durante Curso Intensivo? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Por qué no puedo trabajar durante Curso Intensivo?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>Para lograr que las alumnas se conviertan en programadoras en tan solo 12 semanas, utilizamos una <strong>metodología muy intensiva</strong>, de <strong>7 horas de formación</strong> tanto en la modalidad online como en la semipresencial. Además, las alumnas invierten una <strong>media de 3 horas más al día por su cuenta</strong>.</p>


                  <p>La experiencia con las promociones pasadas demuestra que el programa no es compatible con una jornada laboral, aunque sea a tiempo parcial.</p>

                  <p>Lo mismo aplicaría si se tuviesen otras obligaciones que impliquen una dedicación amplia, como pueden ser estudios.</p>
                </div>
              </dd>
            </div>

            <!-- ¿Necesito un portátil para realizar el curso? -->
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Necesito un portátil para realizar el curso?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p><strong>Sí</strong>. En caso de que no puedas disponer de uno, en Adalab te lo proporcionaremos para que lo puedas utilizar durante el Curso Intensivo.</p>

                  <p>Nosotros te recomendamos que utilices tu propio portátil, ya que así estarás habituada a programar con él y podrás continuar haciéndolo una vez terminado el Curso Intensivo.</p>

                  <p>Para poder realizar el curso de forma fluida, tu ordenador debería tener estas características (recomendadas pero no obligatorias):</p>

                  <ul>
                    <li>Al menos <strong>8GB de RAM</strong> (con 4GB irá algo más lento pero también se puede).</li>
                    <li><strong>Procesador i5 o similar</strong> con velocidad superior a 1GHz.</li>
                    <li><strong>Disco duro</strong>: recomendamos desde 128GB; si es SSD va a ir más fluido que si es HDD pero se puede tener más capacidad por menos precio.</li>
                    <li><strong>Tarjeta gráfica y pantalla</strong>: cualquiera puede ir bien, aunque recomendamos pantalla de 15’ o como mínimo 13’ para poder programar junto a una compañera (con pantallas más pequeñas es posible pero se hace más complicado).</li>
                  </ul>
                </div>
              </dd>
            </div>

            <!-- <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Cuánto cuesta el programa de Adalab?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>
                    El coste total del curso es de 4.390€. Sin embargo, puesto que nuestro objetivo es hacerlo accesible a mujeres desempleadas o con trabajos precarios, cada alumna recibe una beca de 1.760€ de la Fundación eCare que cubre el 40% del coste del curso.
                  </p>
                  <p>
                    El resto, 2630€, lo asume la alumna eligiendo una de las siguientes modalidades:
                  </p>
                  <ol type="a">
                    <li>
                      <p><strong>Pago por adelantado</strong>: tras ser admitida en el proceso de selección para confirmar la plaza la alumna abonará <del>2.630€</del> 2.180€ (no reembolsables), obteniendo un descuento por pronto pago de 450€. <br>(Total a pagar alumna: 2.180€)</p>
                    </li>
                    <li>
                      <p><strong>Pago durante el curso (nueva modalidad)</strong>: tras ser admitida en el proceso de selección para confirmar la plaza la alumna abonará 900€ (no reembolsables), realizando 2 pagos adicionales de 740€, el primero el día en que se inicia el Curso Intensivo, y el segundo 30 días naturales después, obteniendo un descuento de 250€. <br>(Total a pagar alumna: 2.380€)</p>
                    </li>
                    <li>
                      <p>
                      <strong>Pago híbrido</strong>: tras ser admitida en el proceso de selección y para confirmar la plaza la alumna abonará 900€ (no reembolsables). La alumnas podrá elegir cuándo abonar los 1.630€ restantes en un solo pago, siendo el plazo máximo de 90 días naturales desde la conclusión del Curso Intensivo o en el momento que empezase a trabajar, lo que ocurra primero, obteniendo un descuento de 100€. <br>(Total a pagar alumna: 2.530€)
                      </p>
                    </li>
                    <li>
                      <p>
                      <strong>Pago diferido y fraccionado</strong>: tras ser admitida en el proceso de selección y para confirmar la plaza la alumna abonará 350€ (no reembolsables). Adicionalmente se abonarán 6 cuotas mensuales de 380€, pagándose la primera pasados 90 días naturales desde la conclusión del Curso Intensivo, o en el momento que se empezase a trabajar, lo que ocurra primero. <br>(Total a pagar alumna: 2.630€)
                      </p>
                    </li>
                  </ol>
                </div>
              </dd>
            </div>

            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt itemprop="name"><a href="#">¿Dónde son las clases y en qué horario?</a></dt>
              <dd itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                  <p>
                    Actualmente ofrecemos <a href="/cursos-programacion-madrid/">cursos de programación en Madrid</a>.
                    Nuestro programa es presencial de lunes a viernes y de asistencia obligatoria.
                    Las clases se imparten en <strong>Talent Garden</strong>, en Calle de Juan de Mariana 15, 28045, Madrid.
                  </p>
                  <p>
                    Contamos con dos horarios posibles: mañana de 8am a 2pm, y tarde
                    de 2.30pm a a 8.30pm. Además, tendrás que dedicar, de media, 4 horas más
                    al día por tu cuenta.
                  </p>
                </div>
              </dd>
            </div> -->
          </dl>
        </section>
