<footer class="footer">
    <div class="content">

        <div class="row center">
            <div class="footer-info">
                <h5><i class="fal fa-map-marker-alt"></i> Dónde estamos</h5>

                <address itemprop="address">
                    <ul class="footer-info-address">
                        <li itemprop="streetAddress">Calle de Manzanares, 4</li>
                        <li>28005 Madrid</li>
                        <li><a href="mailto:hola@adalab.es" target="_blank">hola@adalab.es</a></li>
                    </ul>
                </address>

                <div class="footer-social">
                    <a href="https://twitter.com/AdaLab_Digital" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/AdaLabDigital/" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/adalab/?report%2Esuccess=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf" target="_blank" rel="nofollow"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/adalab_digital/" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCYmHARvTgsUrm5YdSYwzmDg" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="footer-menu">
                <a href="/curso-desarrollo-web/">CURSOS</a>
                <a href="/desarrollador-front-end/">EMPRESAS</a>
                <a href="/hazte-voluntario/">VOLUNTARIADO</a>
                <a href="/cursos-programacion-madrid/">CURSOS MADRID</a>
                <a href="/equipo/">EQUIPO</a>
                <a href="https://medium.com/adalab" target="_blank" rel="nofollow">BLOG</a>
                <a href="/contacto/">CONTACTO</a>
                </ul>
            </div>
        </div>

        <div class="footer-bottom row">
            <div class="footer-copyright">
                © 2019 Adalab
            </div>

            <div class="footer-legal">
                <a href="/cookies/" target="_blank">Cookies</a>
                <!--<a href="" target="_blank">Política de privacidad</a>-->
            </div>
        </div>

    </div>
</footer>

<div class="cookie-message">
	<span>Sí, lo has adivinado, nosotros también usamos cookies en esta web :)</span>
</div>

<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/main.min.js"></script>

