<footer class="footer">
    <div class="content">
        
        <div class="row">
            <div class="footer-info">
                <h5><i class="fal fa-map-marker-alt"></i> Dónde estamos</h5>
                
                <address itemprop="address">
                    <ul class="footer-info-address">
                        <li itemprop="streetAddress">Calle Moreno Nieto, 2</li>
                        <li>28005 Madrid</li>
                        <li><a href="mailto:hola@adalab.es" target="_blank">hola@adalab.es</a></li>
                    </ul>
                </address>
                
                <div class="footer-social">
                    <a href="" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
                    <a href="" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
                    <a href="" target="_blank" rel="nofollow"><i class="fa fa-linkedin"></i></a>
                    <a href="" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
                    <a href="" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
            
            <div class="footer-menu">
                <a href="">INSCRÍBITE</a>
                <a href="">EMPRESAS</a>
                <a href="">VOLUNTARIOS</a>
                <a href="">EQUIPO</a>
                <a href="">BLOG</a>
                <a href="">CONTACTO</a>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom row">
            <div class="footer-copyright">
                © 2018 Adalab 
            </div>

            <div class="footer-legal">
                <a href="" target="_blank">Cookies</a>
                <a href="" target="_blank">Política de privacidad</a>
                <a href="" target="_blank">Legal</a>
            </div>
        </div>
        
    </div>
</footer>
