<header class="header">
    <div class="content">
        <div class="row">
            <div class="logo">
                <a href=""><img src="assets/images/logo-adalab.svg" alt="Adalab" width="163"/><img src="assets/images/logo_adalab_40px.png" alt="Adalab" width="48"/></a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="" class="btn btn-link">BLOG</a></li>
                    <li><a href="" class="btn">INSCRÍBETE</a></li>
                    <li><a href="" class="btn">EMPRESAS</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
