<div class="ada-hero lightgrey">
  <div class="ada-container horizontal ada-intro w-container">
    <div data-w-id="c3b4e04a-9d63-be30-102f-62ea56c9ae93" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="ada-hero-content alignleft">
      <h3 class="adalab-blue">Ella ha cambiado y tú también</h3>
      <h1>Reprograma tu futuro con Adalab</h1>
      <div class="ada-separator"></div>
      <div class="buttonwrap">
        <div data-w-id="d941babc-74cc-b15f-59e5-b88da25d0516" class="buttonsquareslide">
          <div data-w-id="d941babc-74cc-b15f-59e5-b88da25d0517" class="colour"></div>
          <div class="buttontext">Saber más<br></div><a href="/curso-desarrollo-web" class="buttonlink w-inline-block"></a></div>
      </div>
    </div>
    <div class="hero-image-container">
      <div class="ada-home-image"><img src="/assets/adalab.webflow/images/chica_completa.png" srcset="/assets/adalab.webflow/images/chica_completa-p-500.png 500w, /assets/adalab.webflow/images/chica_completa-p-800.png 800w, /assets/adalab.webflow/images/chica_completa.png 1105w" sizes="100vw" data-w-id="b22cb228-8c5e-8d22-a9af-5b4be69304c7" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="hero-image">
        <div data-w-id="1a56c0a4-a48d-bb5d-a4e3-e885dc9ad236" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="ada-alumna-content-container">
          <div class="ada-alumna-content">
            <div class="ada-arrow-container"><img src="/assets/adalab.webflow/images/Arrow-Left.svg" alt="" class="ada-arrow"></div>
            <div class="ada-alumna-content-text">
              <h6 class="mb-xs">Altea Piñeiro</h6>
              <p class="light">Alumna de Adalab<br>y ahora, programadora</p>
            </div>
            <div class="ada-arrow-container"><img src="/assets/adalab.webflow/images/Arrow-Right.svg" alt="" class="ada-arrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
