<!-- Google Tag Manager (noscript) -->

<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-NLV95VD"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe
></noscript>

<!-- End Google Tag Manager (noscript) -->
<partial src="_banner.html"></partial>

<header class="header">
  <div class="content">
    <div class="row">
      <div class="logo">
        <a href="/"
          ><img
            src="/assets/images/logo-adalab.svg"
            alt="Adalab"
            width="163"/><img
            src="/assets/images/logo_adalab_40px.png"
            alt="Adalab"
            width="48"
        /></a>
      </div>
      <nav class="menu">
        <ul>
          <li>
            <a
              href="https://medium.com/adalab"
              target="_blank"
              rel="nofollow"
              class="btn btn-link"
              >BLOG</a
            >
          </li>
          <li><a href="/cursos-desarrollo-web/" class="btn">CURSOS</a></li>
          <li><a href="/empresas/" class="btn">EMPRESAS</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
