<p class="margin-bottom">
  Te puedes inscribir y realizar las pruebas de selección para cualquiera de los cursos futuros de Adalab. El proceso de 
  selección para el próximo curso que empieza el 31 de marzo del 2021 lo tendremos abierto hasta el 16 de marzo. Para los 
  cursos siguientes puedes realizar las pruebas en cualquier momento y si eres admitida reservar tu plaza.  
  Una vez inscrita recibirás dos emails, una para acceder a nuestra plataforma y otro para confirmar que te quieres 
  inscribir al curso. Por favor es muy importante que sigas los pasos de ambos mails. 

  <br><br>Si tienes alguna duda escribe a <a href="mailto:admisiones@adalab.es">admisiones@adalab.es</a>
</p>