<p class="margin-bottom">
  Te puedes inscribir completando el siguiente formulario para cualquiera de los cursos futuros de Adalab. Actualmente
  tenemos abierto el proceso de selección para el curso del 11 de diciembre, por lo que podrás realizar las pruebas de
  selección hasta el 30 de noviembre una vez completes tu inscripción. Si estás interesada en un curso futuro no tienes
  que hacer nada, te avisaremos en cuanto abramos los siguientes procesos de selección.
  Una vez inscrita recibirás dos emails, una para acceder a nuestra plataforma y otro para confirmar que te quieres
  inscribir al curso. Por favor, es muy importante que sigas los pasos de ambos mails.

  <br><br>Si tienes dudas sobre el curso escríbenos a <a href="mailto:admisiones@adalab.es">admisiones@adalab.es</a>
</p>
