.cookie-message,
.covid-message {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:20px 10px;
    background:$aqua;
    z-index: 99999;
    color: #FFF;
    text-align: center;
    button { all: inherit; }
    a, button {
      &:not(.inline) {
        padding:10px;
      }
      cursor:pointer;
      color: #FFF;
      border-radius: 3px;
      transition: opacity cubic-bezier(0.1, 0.79, 0.24, 0.93) .3s;
      &.cookiebar-close {
          margin-left:30px;
          background-color:$blue-green;
          padding:10px 20px;
      }
      &:hover {
          opacity: .7;
      }
    }
}

.cookie-message {
  font-size: 80%;
  .svgIcon {
    margin-right: .5em;
    transform: scale(.8);
    margin-top: -3px;
  }
  .inline { display: inline; }
}

.cookie-wrapper {
  display: flex;
}

.cookie-inner-message {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-weight: normal;
}

.cookie-actions {
  display: flex;
  align-items: center;
}

@media (max-width:860px) {
    .cookie-message,
    .covid-message {
        span {
            display: block;
            margin-bottom:20px;
        }
        a {
           &.cookiebar-close {
                margin:0;
            }
        }
    }
}

.covid-message {
  padding: 10px;
  position: static;
  background-color: #feea22;
  color: #003636;
  transition: transform 250ms ease;
  &:hover {
    transform: scale(1.01);
    svg {
      transform: scale(1.3) translateX(3px);
    }
  }
  span {
    display: inline-block !important;
    font-size: 120%;
    margin: 0 !important;
    margin-right: .25em;
  }
  a {
    color: inherit;
  }
  svg {
    transition: all 250ms ease;
    fill: #003636;
    color: #003636;
  }

  @media (min-width: $movil) {
    display: block;
    span {
      font-size: 150%;
    }
  }
}
