//// LISTA DESPLEGABLE

.desplegable {
    margin: 80px 0 0;
    text-align: left;
    border: 0;
    dt,
    dd {
        border-bottom: 0;
        > a {
            padding-bottom:25px;
            color:$grey3;
            font-size: 22px;
            display: block;
            border-bottom: 1px solid $aqua;
        }
    }
    dt, p, ul, ol {
        max-width: 820px;
        margin: 0 auto;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    dt {
        padding-bottom:25px;
    }
    dd {
        position: relative;
        top:-26px;
        background-color:$aqua;
        padding: 25px;
        border-top: 0;
        font-family: $Rubik;
        line-height: 180%;
        font-size: 18px;
        color:#000;
        p {
            position: relative;
            margin-bottom: 15px;
            &:first-child {
                &:before {
                    content: '';
                    position: absolute;
                    top: -40px;
                    left: 40px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 15px 15px 15px;
                    border-color: transparent transparent $aqua transparent;
                }
            }
            a {
                font-weight: 700;
                color:#FFF;
                opacity: .9;
            }
            cite {
                display: block;
                margin-top:15px;
                font-size: 13px;
            }
        }
        ul, ol {
          padding-left:40px;
          li {
            position: relative;
            margin-bottom:10px;
            font-family: $OpenSans;
          }
            p:before { display: none; }
        }
        ul {

          li {
              padding-left:20px;
            /*font-style: italic;*/
            &:before {
                content: '';
                position: absolute;
                top:15px;
                left:0;
                width:10px;
                height:3px;
                border-radius: 20px;
                background-color:$grey3;
            }
          }
        }
        ol {
          li {
            padding-left: 0;
          }
        }
    }
}

@media (max-width:680px) {
    .desplegable {
        margin: 60px 0 0;
        dd, dt {
            > a {
                font-size: 18px;
            }
        }
    }
}
