//// NOMBRE FUENTE

@font-face {
    font-family: 'Bembo Std';
    src: url("../fonts/BemboStd-SemiboldItalic.eot");
    src: url("../fonts/BemboStd-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BemboStd-SemiboldItalic.woff") format("woff"), url("../fonts/BemboStd-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic
}
