//// FORMS MAILCHIMP

#mc_embed_signup {
    font-family: $OpenSans;
    font-size: 14px;
    .mc-field-group {
        strong {
            display: block;
            margin-bottom:10px;
        }
        input, select {
            width: 100%;
            background-color:#ece9e9;
            padding: 12px 0 !important;
            border-color:#ece9e9;

            &:focus {
                outline: 0;
                border-color: $aqua;
            }
        }
        select {
            width:100% !important;
            border-radius: 2px;
            padding: 12px 10px !important;
        }
        input[type=checkbox], input[type=radio] {
          + label {
            position: relative;
            display: block;
            margin: 0 0 5px;
            line-height: 180%;
            cursor: pointer;
            &:before {
              content: "\2714";
              border: 1px solid $grey2;
              border-radius: 2px;
              display: inline-block;
              width: 26px;
              height: 26px;
              padding-left: 6px;
              padding-bottom: 0.3em;
              margin-right: 12px;
              vertical-align: bottom;
              color: transparent;
              transition: all cubic-bezier(0.1, 0.79, 0.24, 0.93) .3s;
            }
            &:active:before {

            }
          }
          display: none !important;
          &:checked + label:before {
            background-color: $aqua;
            border-color: $aqua;
            color: #fff;
          }
          &:disabled + label:before {
            border-color: #aaa;
          }
          &:checked:disabled + label:before {
            background-color: $blue-green;
            border-color: $blue-green;
          }
        }
        input[type=radio] {
            + label {
                &:before {
                    border-radius: 50%;
                    content: '';
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 7px;
                    width: 12px;
                    height: 12px;
                    background-color: #FFF;
                    border-radius: 50%;
                }
            }
        }
    }

    .asterisk {
        color:$aqua !important;
    }
    .button {
        width:auto !important;
        padding: 6px 40px !important;
        height:auto !important;
        background-color:$aqua !important;
        border-radius: 2px !important;
        font-family: $Rubik;
        text-transform: uppercase;
    }
}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    margin-bottom:0 !important;
    background-color:transparent !important;
}

.help_text{
  margin-bottom: 15px;
  font-size: 12px;
  color:$grey2;
}

#mergeRow-gdpr {
    text-align: center;
    .content__gdpr {
        > label {

        }
    }
    p {
        margin-top:15px;
        font-size: 12px;
        color:$grey2;
    }
    .gdprRequired  {
        margin-top:14px;
    }
}
