//// SELECTION STYLES

::selection {background: $aqua;color:#FFF;}
::selection { background: $aqua;color:#FFF;}
::-moz-selection {background: $aqua;color:#FFF;}
::-webkit-selection {background: $aqua;color:#FFF;}
.af-html-block p {
    line-height: normal;
}
