//// MAIN STYLES

body {
  color:$grey3;
  font-family: $Rubik;
}

a {
  text-decoration: none;
  color:$aqua;
}

strong {
  font-weight: bold;
}

h1 {
  &.p {
    display: inline;
    all: inherit;
  }
}


//// HEROS

.hero {
    position: relative;
    width:100%;
    min-height: 70vh;
    margin:60px 0;
    padding:80px 0;
    p, span.p {
        max-width: 400px;
        font-size: calc(18px + .5vw);
        font-weight: 500;
        line-height: 160%;
    }
    blockquote {
        cite {
            display: block;
            margin:40px 0 30px;
            font-size: 18px;
            line-height: 160%;
            font-style: normal;
            strong {
                display: block;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

@media (max-width:680px) {
    .hero {
        min-height: auto;
        background: none;
        padding: 0;
        .content {
            position: static;
            background-color: $grey1;
            color: $grey3;
            .right {
                justify-content: center;
                text-align: center;
            }
        }
        blockquote {
            cite {
                display: none;
                font-size: 16px;
                strong {
                    font-size: 16px;
                }
            }
            .btn {
                margin-top:30px;
            }
        }
    }

    .hero-video-player {
      height: 200px;

      a {
        max-width: 50px;
        transform: translateY(-30px);
      }
    }
}

.hide-desktop {
  @media (min-width: $movil) {
    display: none;
  }
}
.hide-mobile {
  @media (max-width: $movil) {
    display: none;
  }
}

.hero-img {
    display: none;
    position: relative;
    width:100%;
    height:200px;
    overflow: hidden;
    &.top {
        align-items: baseline;
    }
    img {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
        height: 100%;
        width:100%;
        object-fit: cover;
    }
    cite {
        font-style: normal;
        font-size: 14px;
        line-height: 140%;
        strong {
            display: block;
            font-weight: 500;
        }
    }
}

@media (max-width: $movil) {
    .hero-img {
        display: flex;
        align-items: flex-end;
        padding:30px 20px;
    }

    cite {
      max-width: 50%;
    }
}


    // HERO TEXT

.hero-text {
    text-align: center;
    padding:80px 0;
    &.grey {
        background-color:$grey1;
    }
    p, span.p {
        font-family: $OpenSans;
        font-size: 18px;
        line-height: 30px;
        margin-bottom:30px;
    }
    em {
        // font-size: 14px;
        font-weight: 300;
    }
    .medium {
        display: block;
        margin:25px 0 40px;
    }
    @media (min-width: $movil) {
      .lista {
        max-width: 60ch;
        margin: 0 auto;
      }
    }

    &.hero-grey { background-color: #fafafa; }
}

@media (max-width: $movil) {
    .hero-text {
        padding:50px 0;
        p, li {
            font-size: 16px;
        }
    }
}


    // INFOGRAFÍA DATOS

.hero-datos {
    margin: 30px auto 0 !important;
    text-align: center;

    .hero-dato {
      position: relative;
      min-height: 147px;
      display: flex;
      line-height: 3em;
      align-items: center;
      text-align: center;
      padding:40px 10px;
      flex: 1;
      // border: 1px solid $aqua;
      border-radius: 3px;
      background: $aqua;
      color: white;
      p { color: white; }
      small {
        font-size: 14px;
        line-height: 1.2;
        display: block;
        margin-top: 1em;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        padding: 10px;
        color: #54585a;
      }

      & + .hero-dato { margin-left: 16px; }

      .hero-dato-content {
          width: 100%;
          > span {
              width:100%;
              display: block;
              margin-bottom:6px;
              font-size: 60px;
              font-weight: 500;
              > span {
                  display: inline-block;
                  font-size: 40px;
              }
          }
      }
      p {
          width: 100%;
          text-transform: uppercase;
          font-family: $Rubik;
          font-size: 14px;
          font-weight: 500;
          line-height: 160%;
          color: white;
          margin: 0;
      }
    }
}


.padding-bottom-80 {
  padding-bottom: 80px;
}

@media (max-width: 860px) {
  .hero-datos {
    margin-top: -30px !important;
    padding-bottom: 30px;
    .hero-dato {
        flex: auto;
        width: 45%;
        margin: 15px;
    }
  }
}

@media (max-width:480px) {
    .hero-datos {
        .hero-dato {
          margin: 10px;
            .hero-dato-content {
                > span {
                    // font-size: 30px;
                    > span {
                        font-size: 20px;
                    }
                }
            }
            p {
                font-size: 12px;
            }
        }
    }
}

.hero-video-player {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    a {
        max-width: 80px;
        svg { max-width: 100%; }
    }
}

//// PIE DE FOTO

.pie {
    padding: 6px 20px;
    border-radius: 2px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 14px;
    color: #FFF;
    font-style: italic;
    background: rgba(0,0,0,.3);
    opacity: 1;
    &.pie-nobg {
        background: transparent;
        color:$grey3;
    }
}

@media (max-width: $movil) {
    .pie {
        display: none;
    }
}

//// BLOCKQUOTES

.bq-lg {
    max-width: 452px;
    max-width: 562px;
}

.bq-md {
    max-width: 334px;
}

@media (max-width: $movil) {
    .bq-md, .bq-lg {
        padding:30px 15px 30px 15px;
        margin:0 auto;
        text-align: center;
        p {
            font-size:16px;
            font-weight: 400;
        }
    }
}

.hide_mobile {
  @media (max-width: $movil) {
    display: none;
  }
}

//// FAQ's

.faq {
    padding:80px 0 35px;
    @media (max-width: $movil) {
      padding-bottom: 0;
    }
}

//// LISTAS

.lista {
    li {
        position: relative;
        padding-left:30px;
        margin-bottom:15px;
        font-family: $OpenSans;
        font-size: 18px;
        line-height: 150%;
        &:before {
            content: "\f00c";
            position: absolute;
            top:8px;
            left:0;
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color:$aqua;
        }
        &.cross {
            &:before {
                content: "\f00d";
                color:#D91414;
            }
        }
    }
}

@media (max-width:680px) {
    .lista {
        margin-bottom:30px;
        li {
            font-size: 16px;
            line-height: 160%;
        }
    }
}

//// ESTILOS PÁGINAS COOKIES, PRIVACIDAD

.legal-main {
    padding:45px 20px;
    p {
        margin-bottom:20px;
    }
}

.readmore {
  i { margin-right: .5em; }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: $movil) {
    a { align-items: flex-start; }
    i { margin-top: .5em; }
  }
}

.text-center {

}

.invert {
  filter: invert(1)
}

.sin-foto {
  .hero-text {
    background: none !important;
  }
}

.cursos .inscribete-calendario { background: transparent !important; }

.no-padding { padding: 0; }
.no-padding-top { padding-top: 0; }

.callout {
  font-size: 120% !important;
}

// blockquote { all: inherit !important; }
.ada-hero-section {
  h2, .h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Rubik, sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }
}

.mb {
  margin-bottom: 1rem !important;
}

.transparent {
  background: transparent !important;
}

.padding {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.emoji {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}

.ada-inverted .ada-separator { background-color: #A9A9AA; }
.ada-timeline-tabs-nav {
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-image:
    /* Shadows */
    linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    /* Shadow covers */
    linear-gradient(to right, rgba(0,0,0,.15), rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,.15), rgba(255,255,255,0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 15px 100%, 20px 100%, 10px 100%, 10px 100%;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  }
.ada-container {
  strong {
    font-weight: 500;
  }
}


.modalOpen {
  overflow: hidden;
}
.ada-timeline-content {
  strong {
    font-weight: normal;
  }
}

.ada-modal-wrapper {
  z-index: 99;
}

.margin-bottom {
  margin-bottom: 1rem;
}

