//// VARIABLES

    // COLORS

    $aqua: #14d9c4;
    $blue-green: #099d8d;
    $grey1: #f5f5f5;
    $grey2: #b8b8b9;
    $grey3: #54585a;

        // FONTS

    $Rubik: 'Rubik', sans-serif;
    $OpenSans: 'Open Sans', sans-serif;
