//// HEADER

.header {
    position: fixed;
    z-index: 2;
    top:0;
    left: 0;
    width:100%;
    background-color:#FFF;
    padding: 19px 20px;
    .row {
        height: 100%;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
    }
    .logo {
        img {
            display: block;
            max-width: 163px;
            &:last-child {
                display: none;
            }
        }
    }
    .menu {
        li {
            display: inline-block;
            vertical-align: middle;
            &:last-child {
                margin-left:25px;
            }
        }
    }
}

// MEDIA QUERIES

@media (max-width:680px) {
   .header {
       padding:6px 20px;
        .logo {
            img {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
        .menu {
            li {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    margin-left:8px;
                }
            }
        }
    }
}