//// HEADER

.header {
    background-color:#FFF;
    height: 100px;
    .row {
        height: 100px;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
    }
    .logo {
        img {
            display: block;
            max-width: 163px;
        }
    }
    .menu {
        li {
            display: inline-block;
            vertical-align: middle;
            &:last-child {
                margin-left:25px;
            }
        }
    }
}