//// HOME

    // HERO

.home-hero {
    position: relative;
    background:url(../images/home/home_hero_main.jpg) no-repeat center bottom;
    background-size: cover;
    height: 80vh;
    padding-top:60px;
    h2 {
        max-width: 300px;
        font-size: calc(20px + 1.5vw);
        font-weight: 700;
        line-height: 120%;
    }
    .pie {
        background:none;
    }
}

@media (max-width:480px) {
    .home-hero {
        height:320px;
        padding-top:20px;
        background-position: 30% center;
    }
}

    // HOME INSCRÍBETE

.home-cta {
    text-align: center;
    padding:10vh 0;
    p {
        font-family: $OpenSans;
        font-size: calc(18px + .15vw);
        line-height: 220%;
        strong {
            font-weight: 600;
        }
    }
    .btn {
        margin-top:50px;
    }
}

@media (max-width:860px) {
    .home-cta {
        padding: 0;
        p {
            font-size: 18px;
            line-height: 160%;
        }
    }
}

    // HOME PARTNERS - COLABORADORES

.home-partners {
    position: relative;
    padding:60px 0;
    background-color:$grey1;
    &:before {
        content: '';
        position: absolute;
        top:0;
        left:calc(50% - .5px);
        width:1px;
        height: 100%;
        background-color:$grey2;
        opacity: .3;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 130px;
        margin: 30px;
    }
}

@media (max-width:680px) {
    .home-partners {
        &:before {
            display: none;
        }
        .col {
            flex-basis: auto;
        }
    }
}

    // HOME RECONOMIENTOS

.home-reconocimientos {
    padding: 60px 0 80px;
    h6 {
        position: relative;
        margin-top:40px;
        font-size: 14px;
        font-weight: 500;
        padding-bottom:15px;
        &:before {
            content: '';
            position: absolute;
            bottom:0;
            left:0;
            right: 0;
            margin: auto;
            width:99px;
            height:1px;
            background-color: $blue-green;
        }
    }
    img {
        display: block;
        margin: 15px auto;
        padding: 20px;
        border:1px solid #f1f1f1;
        max-width: 120px;
    }
}

    // HOME MEDIOS

.home-medios {
    padding: 60px 0 80px;
    background-color:$grey1;
    a {
        transition: opacity cubic-bezier(0.1, 0.79, 0.24, 0.93) .3s;
        &:hover {
            opacity: .5; 
        }
    }
    img {
        max-width: 130px;
        margin-bottom:20px,
    }
    .home-medios-logos {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        align-items: center;
        margin-top:80px;
    }
}

@media (max-width:860px) {
    .home-medios {
        .home-medios-logos {
            flex-direction: column;
        }
    }
}

@media (max-width:860px) {
    .home-voluntariado {
        padding-top: 0;
    }
}


//// BACKGROUNDS HEROS

.home-inscribete {
    margin: 80px 0 0;
    background:url(../images/home/home_hero_1.jpg) no-repeat center center;
    background-size: cover;
    .hero-img {
        background:url(../images/home/home_hero_1.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media (max-width:860px) {
    .home-inscribete {
        margin:0;
        padding-bottom: 0;
    }
}

.home-contrata {
    margin: 0;
    background:url(../images/home/home_hero_2.jpg) no-repeat center center;
    background-size: cover;
    .hero-img {
        background:url(../images/home/home_hero_2.jpg) no-repeat center center;
        background-size: cover;
    }
}

.home-colabora {
    margin: 0;
    background:url(../images/home/home_hero_3.jpg) no-repeat center center;
    background-size: cover;
    .hero-img {
        background:url(../images/home/home_hero_3.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media (max-width:860px) {
    .home-colabora {
        padding:0;
    }
}

@media (max-width:680px) {
    .home-empresas {
        padding-top: 0;
    }
}

@media (max-width:680px) {
    .home-formacion {
        padding: 20px 0;
    }
}