@import 'core/settings';
@import 'core/common';

@import 'utilities/reset';
@import 'utilities/fonts';
@import 'utilities/commons';
@import 'utilities/helpers';
@import 'utilities/grid';
@import 'utilities/swiper';
@import 'utilities/modal';
@import 'utilities/forms';
@import 'utilities/desplegable';
@import 'utilities/cookies';
@import 'utilities/modal-video';

@import 'pages/header';
@import 'pages/footer';

@import 'pages/team';
@import 'pages/home';
@import 'pages/companies';
@import 'pages/signin';
@import 'pages/volunteers';
@import 'pages/contact';

@import 'utilities/other';


.af-form {
  margin: 0 auto;
}
.content__gdprLegal {
  font-size: 90%;
  font-weight: lighter;
  opacity: .8;
}
