@import 'core/settings';
@import 'utilities/reset';
@import 'core/common';

@import 'utilities/fonts';
@import 'utilities/commons';
@import 'utilities/helpers';
@import 'utilities/grid';
@import 'utilities/swiper';
@import 'utilities/modal';
@import 'utilities/forms';
@import 'utilities/desplegable';
@import 'utilities/cookies';
@import 'utilities/modal-video';

@import 'pages/header';
@import 'pages/footer';

@import 'pages/team';
@import 'pages/home';
@import 'pages/companies';
@import 'pages/signin';
@import 'pages/volunteers';
@import 'pages/contact';

@import 'utilities/other';

.hero-text {
  p, span.p {
      font-family: $OpenSans;
      font-size: 18px;
      line-height: 30px;
      margin-bottom:30px;
  }
}


h1 {
  &.p {
    display: inline;
    all: inherit;
  }
}
